.feature {
    
    padding-top: 60px;
    padding-bottom: 60px;

    @media screen and (min-width: 1200px) {
        padding-top: 94px;
        padding-bottom: 47px;
    }
}

.feature-list {
    margin: -15px;
    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
    }
    @media screen and (min-width: 1200px) {
        flex-wrap: nowrap;
    }
    &__item {
        margin: 15px;
        @media screen and (min-width: 768px) {
            width: calc((100% - 30px - 30px) / 2);
        }

        @media screen and (min-width: 1200px) {
            width: calc(100% - 30px - 30px - 30px - 30px / 4);
        }

        &:not(:last-child) {
            margin-bottom: 30px;
        }
    }
    &__title {
        color: var(--title-text-color);
        @include font (700, 1.14, $ls:0.03em);
        
        text-transform: uppercase;
        margin-bottom: 10px;
        text-align: center;
    }
    &__text {
        line-height: 1.71;
    }
    
    &__wrap {
        @extend %align-list;
        background: #F5F4FA;
        border-radius: 4px;
        // width: 270px;
        height: 120px;
        margin-bottom: 20px;
    
    }
    
    &__icon {
        width: 70px;
        height: 70px;
    }
}

